﻿@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<p>Use this area to provide additional information.</p>
<p>Hello Azure</p>
<p>World</p>
<p>Azure is expired</p>
<p>djdjd</p>
